[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "flask run"
seed = "python seed.py"
test = "ptw"
coverage = "pytest --cov-report term-missing --cov=."